# Customize messages displayed by FPC.
#
# FPC emits some messages that are unfortunately useless and unavoidable
# in user code.
# So we hide them, by using proper -vmXXX options.

# do not show Warning: APPTYPE is not supported by the target OS
-vm2045

# Warning: An inherited method is hidden by ... (generics.defaults)
-vm3057

# Warning: Constructor should be public
-vm3018

# Warning: function result variable of a managed type does not seem to be initialized (generics.defaults)
-vm5093

# Note: Call to subroutine marked as inline is not inlined (generics.collections)
-vm6058

#IFDEF VER3_2
# Warning: Constructing a class with abstract method (generics; FPC 3.2 RTL)
-vm4046

# Note: Private type never used (generics.collections; FPC 3.2 RTL)
-vm5071
#ENDIF

# Hint: Found abstract method (generics)
-vm5062

# Hint: Parameter "AFrom"/"ATo" not used (generics.dictionariesh.inc)
-vm5024

# Warning: Unit "Rtti" is experimental
-vm5079
